<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inspection Follow-Up</title>
  </head>
  <body
    style="
      font-family: 'Frutiger', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      text-align: center;
    ">
    <div
      style="
        max-width: 600px;
        background: white;
        margin: 50px auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      ">
      <img
        src="https://i.postimg.cc/Gp1vbMTM/Rofsted.png"
        alt="Logo"
        style="width: 150px" />
      <h2 style="font-weight: bold; color: #007bff">Inspection Follow-Up</h2>

      <div style="text-align: left; margin-top: 20px; padding: 0 20px">
        <p>Dear [Name],</p>
        <p>
          We are pleased to inform you that your inspection has been scheduled.
          Below are the details of your upcoming inspection:
        </p>

        <ul>
          <li><strong>Inspector:</strong> [Inspector Name]</li>
          <li><strong>School Name:</strong> [School Name]</li>
          <li><strong>Date:</strong> [Inspection Date]</li>
          <li><strong>Time:</strong> [Time of Day]</li>
        </ul>

        <p>
          Please ensure that all necessary preparations are made before the
          scheduled inspection. If you have any questions, do not hesitate to
          reach out to us.
        </p>
        <p>Best regards,</p>
        <p><strong>Ofsted Roblox Team</strong></p>
      </div>

      <div
        style="
          font-size: 12px;
          color: gray;
          margin-top: 20px;
          border-top: 1px solid #ddd;
          padding-top: 10px;
        ">
        Ofsted Roblox © 2025
      </div>
    </div>
  </body>
</html>
