<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Application Received</title>
  </head>
  <body
    style="
      font-family: 'Frutiger', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      text-align: center;
    ">
    <div
      style="
        max-width: 600px;
        background: white;
        margin: 50px auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      ">
      <img src="https://iili.io/3xMiDhB.png" alt="Logo" style="width: 150px" />
      <h2>Application Received</h2>

      <div style="text-align: left; margin-top: 20px; padding: 0 20px">
        <p>Dear Applicant,</p>
        <p>
          Thank you for submitting your application. We have successfully
          received your submission and it is currently under review.
        </p>
        <p>
          Our team carefully assesses all applications, and we aim to provide a
          response as soon as possible. If you do not hear back within
          <span style="font-weight: bold">48 hours</span>, please ensure to
          check your email inbox (including spam or junk folders) for any
          updates.
        </p>
        <p>
          If you require further assistance or have any inquiries regarding your
          application status, you may open a support ticket in our
          communications server.
        </p>
        <p>Best regards,</p>
        <p><strong>Ofsted Roblox Team</strong></p>
      </div>

      <div
        style="
          font-size: 12px;
          color: gray;
          margin-top: 20px;
          border-top: 1px solid #ddd;
          padding-top: 10px;
        ">
        Ofsted Roblox © 2025
      </div>
    </div>
  </body>
</html>
