<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Directory Listing</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      ul {
        list-style-type: none;
      }
      li {
        margin-left: 20px;
      }
    </style>
  </head>
  <body>
    <h2>Directory Listing</h2>
    <ul id="file-list">
      <li>
        <a
          href="/templates/application/application-accepted.html"
          target="_blank"
          >application accepted</a
        >
      </li>
      <li>
        <a
          href="/templates/application/application-recieved.html"
          target="_blank"
          >application recieved</a
        >
      </li>
      <li>
        <a
          href="/templates/application/application-rejected.html"
          target="_blank"
          >application rejected</a
        >
      </li>
      <li>
        <a
          href="/templates/application/further-info-needed.html"
          target="_blank"
          >further info needed</a
        >
      </li>
      <li>
        <a
          href="/templates/inspection/inspection-follow-up.html"
          target="_blank"
          >inspection follow up</a
        >
      </li>
      <li>
        <a
          href="/templates/inspection/inspection-request-receieved.html"
          target="_blank"
          >inspection request</a
        >
      </li>
      <li>
        <a href="/templates/interview/interview-required.html" target="_blank"
          >interview required</a
        >
      </li>
      <li>
        <a
          href="/templates/interview/interview-confirmation.html"
          target="_blank"
          >interview confirmation</a
        >
      </li>
    </ul>
  </body>
</html>
